:root {
    --color-1: #fdbe5e;
    --color-2: #E6A33E;
    --color-3: #77acfd;
    --color-4: #90bbfd;
    --color-5: #8f1cd4;
    --color-6: #a52cf1;
    --color-7: #3787fa;
    --color-8: #5daafd;
    --color-fondo-l:#fff9ed;
    --color-fondo-d: #282828;
    --color-complementario-I: #c01521;
    --color-complementario-II: #e41e2c;
    --color-blanco: #fff;
    --color-negro: #000000;
    --color-negro-aux: #434343;
    --color-dark: #717171;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

#root{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button,
input,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
}

.bgColorFondo {
    background-color: var(--color-fondo) !important;
}

.bgColorPrincipal {
    background-color: var(--color-1) !important;
}

.bgColorOpuesto {
    background-color: var(--color-complementario-I) !important;
}

.bgDark {
    background-color: #000 !important;
}

.boton-principal {
    background-color: #FDBE5E;
    transition: background-color 0.3s ease;
}

.boton-principal:hover {
    background-color: #E6A33E;
}

.btnPersonalized1 {
    background-color: var(--color-complementario-I) !important;
    color: var(--color-blanco) !important;
    border: var(--color-complementario-I) !important;
}

.btnPersonalized1:hover {
    background-color: var(--color-complementario-II) !important;
    color: var(--color-blanco) !important;
}

.btnPersonalized1:disabled {
    background-color: #d3d3d3 !important;
    color: #a9a9a9 !important;
    cursor: not-allowed !important;
}

.btnPersonalized2 {
    background-color: var(--color-5) !important;
    color: var(--color-blanco) !important;
    border: var(--color-5) !important;
}

.btnPersonalized2:hover {
    background-color: var(--color-6) !important;
    color: var(--color-blanco) !important;
}

.btnPersonalized2:disabled {
    background-color: #d3d3d3 !important;
    color: #a9a9a9 !important;
    cursor: not-allowed !important;
}

.btnPersonalized3 {
    background-color: var(--color-7) !important;
    color: var(--color-blanco) !important;
    border: var(--color-7) !important;
}

.btnPersonalized3:hover {
    background-color: var(--color-8) !important;
    color: var(--color-blanco) !important;
}

.btnPersonalized3:disabled {
    background-color: #d3d3d3 !important;
    color: #a9a9a9 !important;
    cursor: not-allowed !important;
}

.btnPersonalized4 {
    background-color: var(--color-1) !important;
    color: var(--color-blanco) !important;
    border: var(--color-1) !important;
}

.btnPersonalized4:hover {
    background-color: var(--color-2) !important;
    color: var(--color-blanco) !important;
}

.btnPersonalized4:disabled {
    background-color: #d3d3d3 !important;
    color: #a9a9a9 !important;
    cursor: not-allowed !important;
}

.bgInput {
    border: 1.8px solid var(--color-2) !important;
}

.bgInput:focus {
    border: 2px solid var(--color-2) !important;
    box-shadow: 0 0 0 0.2rem var(--color-2) !important;
}

.modoLight {
    background-color: var(--color-fondo);
    color: var(--color-negro);
}

.modoDark {
    background-color: var(--color-negro);
    color: var(--color-blanco);
}