:root {
    --color-1: #fdbe5e;
    --color-2: #E6A33E;
    --color-3: #5EFDBE;
    --color-4: #45E4A3;
    --color-5: #BE5EFD;
    --color-6: #A345E4;
    --color-7: #3787fa;
    --color-8: #5daafd;
    --color-fondo:#cdcdcd;
    --color-complementario-I: #c53d6f;
    --color-complementario-II: #d44e86;
    --color-blanco: #fff;
    --color-negro: #282828;
    --color-dark: #717171;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bgColorFondo {
    background-color: var(--color-fondo) !important;
}

.bgColorPrincipal {
    background-color: var(--color-1) !important;
}

.bgColorOpuesto {
    background-color: var(--color-complementario-I) !important;
}

.bgDark{
    background-color: #000 !important;
}

.boton-principal {
  background-color: #FDBE5E;
  transition: background-color 0.3s ease;
}

.boton-principal:hover {
  background-color: #E6A33E;
}

.btnPersonalized1 {
    background-color: var(--color-complementario-I) !important;
    color: var(--color-blanco) !important;
    border: var(--color-complementario-I) !important;
}

.btnPersonalized1:hover {
    background-color: var(--color-complementario-II) !important;
    color: var(--color-blanco) !important;
}

.btnPersonalized1:disabled {
    background-color: #d3d3d3 !important;
    color: #a9a9a9 !important;
    cursor: not-allowed !important;
}

.btnPersonalized2 {
    background-color: var(--color-5) !important;
    color: var(--color-blanco) !important;
    border: var(--color-5) !important;
}

.btnPersonalized2:hover {
    background-color: var(--color-6) !important;
    color: var(--color-blanco) !important;
}

.btnPersonalized2:disabled {
    background-color: #d3d3d3 !important;
    color: #a9a9a9 !important;
    cursor: not-allowed !important;
}

.btnPersonalized3 {
    background-color: var(--color-7) !important;
    color: var(--color-blanco) !important;
    border: var(--color-7) !important;
}

.btnPersonalized3:hover {
    background-color: var(--color-8) !important;
    color: var(--color-blanco) !important;
}

.btnPersonalized3:disabled {
    background-color: #d3d3d3 !important;
    color: #a9a9a9 !important;
    cursor: not-allowed !important;
}

.btnPersonalized4 {
    background-color: var(--color-1) !important;
    color: var(--color-blanco) !important;
    border: var(--color-1) !important;
}

.btnPersonalized4:hover {
    background-color: var(--color-2) !important;
    color: var(--color-blanco) !important;
}

.btnPersonalized4:disabled {
    background-color: #d3d3d3 !important;
    color: #a9a9a9 !important;
    cursor: not-allowed !important;
}

.bgInput {
    border: 1.8px solid var(--color-2) !important;
}

.bgInput:focus {
    border: 2px solid var(--color-2) !important;
    box-shadow: 0 0 0 0.2rem var(--color-2) !important;
}

.modoLight{
    background-color: var(--color-fondo);
    color: var(--color-negro);
}

.modoDark{
    background-color: var(--color-negro);
    color: var(--color-blanco);
}